<!DOCTYPE html>
<html lang="en"xmlns:th="http://www.thymeleaf.org">
    
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table>
        <tr>
            <th>Id</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <th>Phone</th>
            <th>Address</th>

        </tr>
        <tbody>
            <tr th:each="student:${students}">
            <td th:text="${students.id}"></td>
            <td th:text="${students.fname}"></td>
            <td th:text="${students.lname}"></td>
            <td th:text="${students.email}"></td>
            <td th:text="${students.phone}"></td>
            <td th:text="${students.adddress}"></td> 
        </tr>
        </tbody>
    </table>
</body>
</html>